

* {
  font-family: "PT Sans";
}

h1 {
  color: #C72C48;
  font-size: 3em;
  text-align: center;
}
h2 {
  color: #C72C48;
  font-size: 2em;
  text-align: center;
}
p {
  text-align: justify;
  font-size: 1.2em;
}


